body {
  font-family: Arial;
  text-align: center;
  background: black;
  color: white;
  padding-top: 60px;
}

.duel-box {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

button {
  padding: 20px 40px;
  font-size: 18px;
  cursor: pointer;
  background: #111;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  transition: 0.2s;
}

button:hover {
  background: white;
  color: black;
}

#aiTalk {
  margin-top: 30px;
  font-size: 20px;
  color: lime;
}
